@model List<DAL.Producto>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado de Productos</title>
</head>
<body>
    <div>
        <h1>Listado de Productos</h1>
        <div>
            <form action="/Productos/IndexPost" method="post">
                Marca:
                <select name="IdMarca">
                    <option value="0">Todas</option>
                    @foreach (DAL.Marca m in ViewBag.Marcas)
                    {
                        <option value="@m.IdMarca">@m.Nombre</option>
                    }
                </select>
                <input type="submit" value="Filtrar" />
            </form>
            <table>
                <tr>
                    <th>IdProducto</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.IdProducto</td>
                        <td>@p.Nombre</td>
                        <td>@p.Precio</td>
                        <td><a href="/Productos/Modificar/@p.IdProducto">Modificar</a></td>
                        <td><a href="/Productos/Eliminar/@p.IdProducto">Eliminar</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>
